.panel {
	padding: 16px;
} 

#choice {
	font-weight: bold;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0 0 5px 0;
}

li {
	padding: 0 5px 0 5px;
}

li:hover {
	background-color: #0996f8;
	color: #fff;
}